<h1>New Ingredient Type Form</h1>

<div id='webpack-react-form'></div>

<div id='rails-form'>
  <h3>Rails Form</h3>

  <% if flash[:alert] %>
    <div class='alert'><%= flash[:alert] %></div>
  <% end %>

  <%= form_for ingredient_type do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit 'Submit' %>
  <% end %>
</div>
