<h1>New Item Type</h1>

<% if flash[:alert] %>
  <div class='alert'><%= flash[:alert] %></div>
<% end %>

<div id='rails-form'>
  <h3>Rails Form</h3>

  <%= form_for item_type do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit 'Submit' %>
  <% end %>
</div>
