<!DOCTYPE html>
<html>
<head>
  <title>Scofflaw</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class='main'>

  <nav>
    <% if user_signed_in? %>
      Hi, <%= current_user.email %>
    <% else %>
      <%= link_to 'Log In', new_user_session_path %> |
      <%= link_to 'Sign Up', new_user_registration_path %> |
      <%= link_to 'New Recipe', new_recipe_path %> |
    <% end %>
    <%= link_to 'Recipes', recipes_path %>
  </nav>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <div class='content'>
    <%= yield %>
  </div>

</div>

</body>
</html>
